@model IEnumerable<Project1.Models.Mission>

@{
    ViewBag.Title = "Index";
}
<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Missions</a></li>
    <li class="active">@ViewBag.missionName</li>
</ol>

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.President)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Language)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Climate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DominateReligion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FlagURL)
        </th>
    </tr>
    
    @{
        if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <th>
                        @Html.DisplayFor(modelItem => item.Name)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.President)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.Address)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.Language)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.Climate)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.DominateReligion)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.FlagURL)
                    </th>
                    @*<td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                        </td>*@
                </tr>
            }
        }
    }
   

</table>
<!--
    
mission name
mission president’s name
mission address
language
climate
dominate religion
a flag or symbol for the mission.

-->