@model Project1.Models.Mission
@{
    ViewBag.Title = "Mission Detail";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
@* allows for form to be dynamically toggled on click *@
<script>
    $(document).ready(function () {
        $(".reply-button").click(function () {
            $(".form-group").toggle(100);
            $("textarea").trigger("reset");
        });
});
</script>

@* allows for submit button to hide the text form *@
<script>
    $(document).ready(function () {
        $(".submit-button").click(function () {
            $(".form-group").hide(100);
            $("textarea").trigger("reset");
        });
    });
</script>

<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home", null, null)</li>
    <li>@Html.ActionLink("Missions", "Index", "Mission", null, null)</li>
    <li class="active">@Model.Name</li>
</ol>
<h2>@Model.Name Mission</h2>
<div class="jumbotron">
    <img src=@Model.FlagURL />
</div> 
@* shows all of the values for the mission from the database *@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.President)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Language)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Climate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DominateReligion)
        </th>
    </tr>
    <tr>
        <th>
            @Html.DisplayFor(model => Model.Name)
        </th>
        <th>
            @Html.DisplayFor(model => Model.President)
        </th>
        <th>
            @Html.DisplayFor(model => Model.Address)
        </th>
        <th>
            @Html.DisplayFor(model => Model.Language)
        </th>
        <th>
            @Html.DisplayFor(model => Model.Climate)
        </th>
        <th>
            @Html.DisplayFor(model => Model.DominateReligion)
        </th>
    </tr>
</table>
<div class="row" style="text-align: center">
    <h3>FAQ's</h3>
</div>
@* Hard coded questions and answers with a reply button that dynamically loads a text box *@
<div class="container ">
    <div class="panel-group" id="faqAccordion">
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question0">
                <h4 class="panel-title">
                    <a href="#" class="ing">Q: Do members provide many meals for missionaries?</a>
                </h4>
            </div>
            <div id="question0" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                    <h5><span class="label label-primary">Answer</span></h5>
                    <p>
                        Yes! Members there are extremely kind and are always willing to feed the missionaries. It's common to have more than one meal appointment a day. Be careful not to gain too much weight! ;)
                    </p>
                    <form>
                        <div style="display: none" class="form-group">
                            <textarea class="form-control" rows="5"></textarea>
                            @* provides toast notification in the top right corner of the screen *@
                            <button onclick="toastr.success('Your reply will be posted once it has been reviewed by MissionConnections moderators. Thanks!','Reply sent!')" type="reset" value="Clear" class="submit-button btn btn-success">Submit</button>
                        </div>
                    </form>
                    <button type="submit" class="btn btn-primary reply-button">Reply</button>
                </div>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question1">
                <h4 class="panel-title">
                    <a href="#" class="ing">Q: What are the winters like?</a>
                </h4>
            </div>
            <div id="question1" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                    <h5><span class="label label-primary">Answer</span></h5>
                    <p>
                        Fortunately, they are very mild. You will need a nice jacket however. Be sure to get one before you leave, because they are hard to find there.
                    </p>
                    <form>
                        <div style="display: none" class="form-group">
                            <textarea class="form-control" rows="5"></textarea>
                            <button onclick="toastr.success('Your reply will be posted once it has been reviewed by MissionConnections moderators. Thanks!','Reply sent!')" type="reset" value="Clear" class="submit-button btn-success">Submit</button>
                        </div>
                    </form>
                    <button type="submit" class="btn btn-primary reply-button">Reply</button>
                </div>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question2">
                <h4 class="panel-title">
                    <a href="#" class="ing">Q: Do I need a bike?</a>
                </h4>
            </div>
            <div id="question2" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                    <h5><span class="label label-primary">Answer</span></h5>
                    <p>
                        Yes. No matter what are you serve in, you'll use your bike pretty much daily.
                    </p>
                    <form>
                        <div style="display: none" class="form-group">
                            <textarea class="form-control" rows="5"></textarea>
                            <button onclick="toastr.success('Your reply will be posted once it has been reviewed by MissionConnections moderators. Thanks!','Reply sent!')" type="reset" value="Clear" class="submit-button btn-success">Submit</button>
                        </div>
                    </form>
                    <button type="submit" class="reply-button btn-primary">Reply</button>
                </div>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question3">
                <h4 class="panel-title">
                    <a href="#" class="ing">Q: Is it safe to drink the water?</a>
                </h4>
            </div>
            <div id="question3" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                    <h5><span class="label label-danger">No Answer</span></h5>
                    <p>

                    </p>
                    <form>
                        <div style="display: none" class="form-group">
                            <textarea class="form-control" rows="5"></textarea>
                            <button onclick="toastr.success('Your reply will be posted once it has been reviewed by MissionConnections moderators. Thanks!','Reply sent!')" type="reset" value="Clear" class="submit-button btn-success">Submit</button>
                        </div>
                    </form>
                    <button type="submit" class="reply-button btn-primary">Reply</button>
                </div>
            </div>
        </div>
    </div>
    <!--/panel-group-->
</div>
@* Post question form, deletes text on submit *@
<div class="row">
    <div style="text-align: center">
        <h3>Submit a Question:</h3>
    </div>
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
        <div>
            <label for="question">Question:</label>
            <textarea class="form-control" rows="5" id="question"></textarea>
            <button onclick="toastr.success('Your question will be posted once it has been reviewed by MissionConnections moderators. Thanks!','Question sent!')" type="reset" value="Clear" class="btn btn-default">Submit Question</button>
        </div>
    </div>
    <div class="col-md-3">

    </div>
</div>
