@model Project1.Models.Mission
@{
    ViewBag.Title = "Detail";
}
<ol class="breadcrumb">
    <li>@Html.ActionLink("Home","Index","Home",null,null)</li>
    <li>@Html.ActionLink("Missions", "Index", "Mission", null, null)</li>
    <li class="active">@Model.Name</li>
</ol>
<h2>@Model.Name Mission</h2>
<div class="jumbotron">
    <img src=@Model.FlagURL />
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.President)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Language)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Climate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DominateReligion)
        </th>
    </tr>
    <tr>
        <th>
            @Html.DisplayFor(model => Model.Name)
        </th>
        <th>
            @Html.DisplayFor(model => Model.President)
        </th>
        <th>
            @Html.DisplayFor(model => Model.Address)
        </th>
        <th>
            @Html.DisplayFor(model => Model.Language)
        </th>
        <th>
            @Html.DisplayFor(model => Model.Climate)
        </th>
        <th>
            @Html.DisplayFor(model => Model.DominateReligion)
        </th>
    </tr>
</table>
<div class="row" style="text-align: center">
    <h3>FAQ's</h3>
</div>
@* Hard coded questions and answers with a reply button that dynamically loads a text box *@
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="question">Question:</label>
            <textarea class="form-control" rows="5" id="question"></textarea>
            <button type="submit" class="btn btn-default">Submit Question</button>
        </div>
        <div class="form-group">
            <label for="answer">Reply:</label>
            <textarea class="form-control" rows="5" id="answer"></textarea>
            <button type="submit" class="btn btn-default">Submit Reply</button>
           
        </div>
    </div>
    <div class="col-md-6">

    </div>
</div>
